<nav class="bg-black">
  <div class="max-w-7xl mx-auto border border-red-400">
    <div class="py-32 text-center">
      <h2 class="font-extrabold text-6x1">Widgets And Brands!</h2>
    </div>
    
  </div>
</nav>
